<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form method="POST" action="/login">
    <h2>登入資訊</h2>
    <p>帳號</p>
    <input name="username" type="text"></input>
    <p>密碼</p>
    <input name="password" id="inputPwd" type="password"></input>
    <input type="checkbox" onclick="(()=>{
          var x = document.getElementById('inputPwd');
            x.type = x.type === 'password'?'text':'password';
        })()">顯示密碼
    <div style="padding-top:20px">
      <input name="submit" type="submit">
    </div>
  </form>
  <% if (typeof error_msg !='undefined' ) { %>
    <div>
      <p name="error_msg">
        <%= error_msg %>
    </div>
  <% } %>
</body>

</html>